.Main {
	width: 100%;
	height: 500px;
	margin: 0 auto;
	margin-top: 10px;
}
.Input_Box {
	width: 100%;
	height: 220px;
	border: 1px solid #ccc;
	transition: border linear .2s, box-shadow linear .5s;
	-moz-transition: border linear .2s, -moz-box-shadow linear .5s;
	-webkit-transition: border linear .2s, -webkit-box-shadow linear .5s;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
	position: absolute;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
}
.Input_Box>textarea {
	width: 100%;
	height: 130px;
	padding: 5px;
	outline: none;
	border: 0px solid #fff;
	resize: none;
	font: 13px "微软雅黑", Arial, Helvetica, sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.faceDiv {
	width: 100%;
	height: 100%;
	/*border-top: 1px solid #ccc;*/
	position: absolute;
	background-color: #fff;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.faceDiv>img {
	border: 1px solid #ccc;
	float: left;
	margin-left: -1px;
	margin-top: -1px;
	position: relative;
	width: 24px;
	height: 24px;
	padding: 3px 3px 3px 3px;
	cursor: pointer;
}
.faceDiv>img:hover {
	background-color: #efefef;
}
.faceDiv>img:active {
	padding: 4px 3px 2px 3px;
}